/**
 * Responsive Styles - Image Slider
 *
 * Contains media queries and adjustments to ensure the responsiveness
 * of the Image Slider on different screen sizes.
 *
 * @author: Mário Miguel de Almeida
 * @last-modified: 2025-10-07
 * @dependencies: reset.css, style.css
 */



/* STYLES FOR SCREENS BETWEEN 13.7/10 AND 16/10 ASPECT RATIOS
    In summary, the styles in this breakpoint are responsible for adapting the layout for desktop screens with slightly superior height (in relation to the 16:9 aspect ratio)
*/

@media (min-aspect-ratio: 13.7/10) and (max-aspect-ratio: 16/10) {
    .slider .slider__content {
        width: min(73rem, 39.5vw);

        padding: 5% 5% 4%;

        & .slider__title {
            font-size: min(6rem, 3.3vw);
        }

        & .slider__content-paragraph {
            font-size: min(3rem, 1.6vw);
            line-height: min(4rem, 2.1vw);
        }

        & .slider__Link {
            font-size: min(3.5rem, 1.9vw);
        }
    }
}


/* COMMON STYLES FOR SCREENS WITH ASPECT RATIO LESS THAN OR EQUAL TO 1.37/1
    In summary, I consider this design poorly adaptive for screens that start to present a height similar to width. Therefore, I chose to define mobile styles for screens that don't necessarily have mobile phone dimensions, but are better presented in a mobile layout (Ex.: Resized screens with windows + arrow). This breakpoint aims to gather reusable styles for this context, in order to simplify the code.
*/

@media (max-aspect-ratio: 1.37/1) {
    body {
        background-repeat: repeat-y;
    }

    .slider {
        padding: 31% 15%;

        justify-content: center;

        & .slider__content {
            aspect-ratio: inherit;

            padding: 10%;

            text-align: center;

            & .slider__content-paragraph {
                min-width: 20rem;
            }
        }
    }

    .credits {
        text-align: center;

        & .credits__paragraph {
            max-width: 70%;
        }
    }
}


/* STYLES FOR MOBILE SCREENS */

@media (min-width: 320px) and (max-width: 767px) {
    .slider .slider__content {
        width: max(24.7rem, 70vw);

        & .slider__content-title {
            font-size: max(3rem, 9vw);
        }

        & .slider__content-paragraph {
            font-size: max(1.5rem, 4.5vw);
            line-height: max(1.8rem, 5.5vw);
        }

        & .slider__link {
            font-size: max(2rem, 6vw);
        }
    }

    .credits .credits__paragraph {
        font-size: max(3vw, 1rem);
        border-radius: max(0.3rem, 0.9vw);
    }
}


/* STYLES FOR TABLETS, RESIZED SCREENS AND MONITORS WITH INTENTIONAL PORTRAIT ORIENTATION (WHEN ROTATING THE MONITOR SCREEN, FOR EXAMPLE) */

@media (min-width: 768px) and (max-aspect-ratio: 1.369472) {

    .slider .slider__content {
        width: max(65vw, 53.7rem);

        & .slider__content-title {
            font-size: max(6.5vw, 5rem);
        }

        & .slider__content-paragraph {
            font-size: max(3.2vw, 2.5rem);
            line-height: max(4.5vw, 3.5rem);
        }

        & .slider__link {
            font-size: max(4.5vw, 3.5rem);
        }
    }

    .credits .credits__paragraph {
        font-size: max(2.1vw, 2rem);

        border-radius: max(0.5rem, 0.6vw);
    }
}


/* STYLES FOR EXTRA WIDE MONITORS */

@media (min-width: 1921px) {
    html {
        font-size: 90%;
    }
}


